html, body{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    margin: 0px;
    padding: 0px;
    height: auto;
    justify-content: center;
    text-align: center;
    background-color: black;
    
}
#header {
    color: goldenrod;
}
#GameSpace > h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: goldenrod;

}
#ClassSelect{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
}
#ClassSelect > a{
    text-decoration: none;
}
#Mage{
    height: 300px;
    width: 200px;
}
#Rouge{
    height: 300px;
    width: 200px;
}
#Warrior{
    height: 300px;
    width: 200px;
}
#MageDesc > h3:hover {
background-color: lightgreen;
}
#RougeDesc > h3:hover{
    background-color: lightgreen;
}
#WarriorDesc > h3:hover{
    background-color: lightgreen;
}
#WarriorDesc {
    font-size: 15pt;
    color: goldenrod;
}
#MageDesc {
    font-size: 15pt;
    color: goldenrod;
}
#RougeDesc {
    font-size: 15pt;
    color: goldenrod;
}
